/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
/**************BEGIN 图片上传功能***************/

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.fileupload .preview {
    float: left;
    margin-right: 16px;
    position: relative;
}
.avatar-64 {
    width: 128px;
    height: 64px;
    font-size: 64px;
    text-align: center;
}

.fileupload .help-block {
    margin-bottom: 5px;
}
.fileupload .preview .progress {
    border: 1px solid #e3e3e3;
    bottom: -4px;
    height: 5px;
    background-color: #008ee1;
    width: 0px;
}
.fileupload .preview img {
    background: #fff;
    border: 1px solid #e3e3e3;
    width: 64px;
    height: 64px;
}
/**************END 图片上传功能***************/

.pic-64 {
    max-width: 64px;
}

.center {
    text-align: center;
}

/* CSS definitions for the wrapping div -- fixed google map bug */
/* http://jsfiddle.net/veaz/7Zm8w/ */
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
