@model UserRegisterModel
@{
    ViewBag.Title = "新增用户";
    ViewBag.HeaderTitle = "新增用户 <small>增加新的用户</small>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>新增用户
                </div>
            </div>
            <div class="portlet-body form">
                @Html.Partial( "_CreateFormGroups", Model )
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

@section FooterScripts {
    @Scripts.Render( "~/bundles/form-plugins" )
}
