@model UserEditModel
@{
    ViewBag.Title = "编辑用户";
    ViewBag.HeaderTitle = "编辑用户 <small>修改已经存在的用户信息</small>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>编辑用户
                </div>
            </div>
            <div class="portlet-body form">
                @Html.Partial( "_EditFormGroups", Model )
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

@section FooterScripts {
    @Scripts.Render( "~/bundles/form-plugins" )
}