@model Opp.TemplateEngine.Field


<div class="form-group" id="map-container">
	
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Admin/map2.js")"></script>
<script type="text/javascript">
	function renderMap() {
        var map = new Map("map-container", $('#@(Model.Name)_Coordinates').val(), function(err, coordinates) {
            $("#@(Model.Name)_Coordinates").val(coordinates);
        });
        map.render();
	}
	// 异步加载地图
	(function () {
        if (window.google) {
            renderMap();
            return;
        }

        /* 加载地图API */
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=renderMap";
        document.head.appendChild(script);
    })();
</script>