@model CreateOrUpdateDistrictModel
@{
    ViewBag.Title = "编辑国家城市";
    ViewBag.HeaderTitle = "编辑国家城市 <small>dashboard & statistics</small>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>编辑国家城市
                </div>
            </div>
            <div class="portlet-body form">
                @Html.Partial( "_FormGroups", Model )
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

@section HeaderStyles {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/plugins/select2/select2.css" />
    <!-- END PAGE LEVEL STYLES -->
}
@section BreadCrumb {
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li><a href="#">Dashboard</a></li>
    </ul>
}
@section FooterScripts {
    @Scripts.Render( "~/bundles/form-plugins" )
	<script type="text/javascript" src="~/Scripts/admin/map2.js"></script>
	<script type="text/javascript">
		function renderMapControl() {
			$("#mapContainer").coordinateselector({
				lat: parseFloat(@Model.Lat) || 0,
				lng: parseFloat(@Model.Lat) || 0,
				onSelect: function (coordinate) {
				    $("#Lng").val(coordinate.lng);
				    $("#Lat").val(coordinate.lat);
				}
			});
		}
		// 异步加载地图
		(function () {
			if (window.google) {
				renderMapControl();
				return;
			}

			/* 加载地图API */
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&callback=renderMapControl";
			document.head.appendChild(script);
		})();
	</script>
}
