@using Maya.Services.VO
@model ArticleVO


@if ( string.IsNullOrEmpty( Model.Title ) ) {
    <div class="articlebox">没有相关信息</div>
}
else {
    <div class="articlebox">@Html.Raw( Model.ArticleContent )</div>
}