
<div id="exchange" data-title="货币换算" class="panel" data-nav="citybox">
    <div class="exchangebox">
        <div class="row">
            <label>原始货币：</label>
            @*<select placeholder="请选择" name="" id="">
                <option value="" selected>人民币 CNY</option>
                <option value="">人民币22 CNY</option>
                <option value="">英镑 GBP33 CNY</option>
            </select>*@
            @Html.DropDownList( "RateFrom", ViewBag.Rates as SelectList, new { placeholder = "请选择" } )
        </div>
        <div class="row">
            <label>目标货币：</label>
            @*<select placeholder="请选择" name="" id="">
                <option value="" selected>英镑 GBP</option>
                <option value="">人民币22 CNY</option>
                <option value="">人民币33 CNY</option>
            </select>*@
            @Html.DropDownList( "RateTo", ViewBag.Rates as SelectList, new { placeholder = "请选择" } )
        </div>
        <div class="row">
            <label>兑换金额：</label>
            <input placeholder="请输入金额" type="text" id="Amount">
        </div>
        <div class="exchangeaction">
            <button id="btnExchange">兑换</button>
        </div>
        <div class="exchangeresult" style="display:none;">
            <p class="rate-data">当前汇率：<strong>0.1042</strong></p>
            <p class="exchange-data"><strong>10000</strong> 人民币(CNY) = <strong>1042</strong> 英镑(GBP)</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $("#btnExchange").click(function (e) {
            e.preventDefault();

            var amount = $("#Amount").val();
            if (!amount || parseFloat(amount) <= 0) {
                $("#Amount").focus();
                return false;
            }

            $.ui.showMask("正在兑换，请稍候...");

            var ajaxSettings = {
                url: "http://maya.codestudio.com/services/rate",
                data: {
                    from: $("#RateFrom").val(),
                    to: $("#RateTo").val()
                },
                dataType: "json"
            }

            $.ajax(ajaxSettings).done(function (data) {
                $(".exchangeresult p.rate-data strong").text(data.rate);
                $(".exchangeresult p.exchange-data").html("<strong>" + amount + "</strong> " + $("#RateFrom option:selected").text() + " = <strong>" + amount * data.rate + "</strong> " + $("#RateTo option:selected").text() + "");
                $(".exchangeresult").show();
                $.ui.hideMask();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            });

            return false;
        });
    });
</script>