@model CreateOrEditArticleModel
@{
    ViewBag.Title = "编辑文章";
    ViewBag.HeaderTitle = "编辑文章 <small>修改或者新增文章信息</small>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>编辑文章
                </div>
            </div>
            <div class="portlet-body form">
                @Html.Partial( "_FormGroups", Model )
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

@section HeaderStyles {
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/plugins/select2/select2.css" />
    <!-- END PAGE LEVEL STYLES -->
}
@section FooterScripts {
    @Scripts.Render( "~/bundles/form-plugins" )
    <script type="text/javascript" src="~/Scripts/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        jQuery(function() {
            UE.getEditor("ArticleContent", { initialFrameHeight: 600, zIndex: 9996 });
        });
    </script>
}
