
<div class="exchangebox">
    <div class="row">
        <label>原始货币：</label>
        @*<select placeholder="请选择" name="" id="">
                <option value="" selected>人民币 CNY</option>
                <option value="">人民币22 CNY</option>
                <option value="">英镑 GBP33 CNY</option>
            </select>*@
        @Html.DropDownList( "RateFrom", ViewBag.Rates as SelectList, new { placeholder = "请选择" } )
    </div>
    <div class="row">
        <label>目标货币：</label>
        @*<select placeholder="请选择" name="" id="">
                <option value="" selected>英镑 GBP</option>
                <option value="">人民币22 CNY</option>
                <option value="">人民币33 CNY</option>
            </select>*@
        @Html.DropDownList( "RateTo", ViewBag.Rates as SelectList, new { placeholder = "请选择" } )
    </div>
    <div class="exchangeaction">
        <button id="btnExchangeRate">查询</button>
    </div>
    <div class="exchangeresult" style="display:none;">
        <p>
            当前汇率：<strong>1.0</strong>
        </p>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $("#btnExchangeRate").click(function (e) {
            e.preventDefault();

            $.ui.showMask("正在查询，请稍候...");

            var ajaxSettings = {
                url: config.serviceUrl + "/services/rate",
                data: {
                    from: $("#RateFrom").val(),
                    to: $("#RateTo").val()
                },
                dataType: "json"
            }

            $.ajax(ajaxSettings).done(function (data) {
                $(".exchangeresult strong").text(data.rate);
                $(".exchangeresult").show();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                $("#afui").popup("应用出现了点问题，请稍后再试。");
            }).always(function () {
                $.ui.hideMask();
            });

            return false;
        });
    });
</script>