<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search " action="extra_search.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active open">
                <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title">控制面板</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-users"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-pointer"></i>
                    <span class="title">国家城市</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink( "数据列表", "Index", "Districts" )
                    </li>
                    <li>
                        @Html.ActionLink( "新增数据", "Create", "Districts" )
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-handbag"></i>
                    <span class="title">产品专题</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-music-tone-alt"></i>
                    <span class="title">旅游音乐</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-energy"></i>
                    <span class="title">电流电压</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-bulb"></i>
                    <span class="title">插座标准</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-globe"></i>
                    <span class="title">全球通使用方法</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-flag"></i>
                    <span class="title">大使馆资料</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-call-end"></i>
                    <span class="title">紧急电话</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-plane"></i>
                    <span class="title">机场名称</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
            <li class="last">
                <a href="javascript:;">
                    <i class="icon-note"></i>
                    <span class="title">出入境卡填写</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            数据列表
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            新增数据
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
